# PostgreSQL
POSTGRES_USER=notimatic
POSTGRES_PASSWORD=password
POSTGRES_DB=notimaticdb
DATABASE_URL="postgresql://notimatic:password@localhost:5432/notimaticdb?schema=public"

# JWT
JWT_SECRET="a-very-secret-key-that-should-be-long-and-random"
JWT_EXPIRES_IN="1d"

# API
API_PORT=3000
NODE_ENV=development
